
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow container">
  <div class="row">
      <div class="col">
        {%if uncategorized_transactions %}
            <h4> You {{uncategorized_transactions|length}} uncategorized transactions 💸 </h4>
            <a href="{{url_for('dashboard.rate_randon_unrated')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true"> TAKE ME ON A RIDE 🎢 </a>
        {% else %}
            <h4> All you transactions are categorized 👍 </h4>
        {% endif %}
      </div>
  </div>
  <div class="row">
    <div class="col">
        <h2>Insights for {{ start }} -- {{ end }}</h2>
            <br/>
            <h2>Total: {{ total }} e</h2>
            <div class="insights-chart">
                <div class="bar utility {{'hidden-icon' if (grouped[1]*100 < 0.1) }}" style='width: {{grouped[1]*100}}%;'></div>
                <div class="bar meh {{'hidden-icon' if (grouped[0]*100 < 0.1) }}" style='width: {{grouped[0]*100}}%;'></div>
                <div class="bar ok {{'hidden-icon' if (grouped[2]*100 < 0.1) }}" style='width: {{grouped[2]*100}}%;'></div>
                <div class="bar great {{'hidden-icon' if (grouped[3]*100 < 0.1) }}" style='width: {{grouped[3]*100}}%;'></div>
            </div>
            <div class="mockCont"><img style="width:480px; margin:0 auto; display:block;" src="{{static_url_for('static', filename='build/img/MOCK2.png') }}"/></div>
            {% for recommendation in recommendations %}
            <div>{{ recommendation }}</div>
            {% endfor %}
            <div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
