{% extends "layout.html" %}
{% block content %}
<div class="container-narrow container rating">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col date">
          12/11/2019
        </div>
        <div class="col beneficiary">
          {{ ben }}
        </div>
        <div class="col amount">
          {{ amount }}
        </div>
      </div>
      <form id="ratingForm" class="form form-rating" method="POST" action="" role="form">
          {{ form.csrf_token }}
          <div class="row">
          {% for subfield in form.rating %}
            <div class="col rating-btn rating-{{ subfield.data }}">
              {{ subfield(class_="rating-button") }}
              {{ subfield.label }}
            </div>
          {% endfor %}
          </div>
          <p><input class="btn btn-primary btn-success submit-btn" type="submit" value="Rate"></p>
      </form>
     </div>
  </div>
  <a class="exit-link" href="{{url_for('dashboard.insights_new')}}" role="button" aria-disabled="true"> No more, take me back 🚀</a>
</div>


{% endblock %}


