
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Let's create an account!</h1>
        <div>
            <form id="account-create-form" class="form form-account-create" method="POST" action="" role="form">
                {{ form.csrf_token }}
                {{ form.account_name.label }} {{ form.account_name(size=20) }}
                <p><input class="btn btn-primary" type="submit" value="Create new standalone account"></p>
            </form>
        </div>
        <div>
            <a href="{{url_for('ledger.import_from_psd')}}" class="btn btn-primary btn-lg active btn-dark" role="button" aria-pressed="true">PSD2 MAGIC API FOR OP 🧙‍♂️ </a>
        </div>
    </div>
{% endblock %}

