
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Let's import accounts :)</h1>
        <div>
            <form id="account-create-form" class="form form-account-create" method="POST" action="" role="form">
                {% for field in form %}
                    <p>{{ field.label }} {{ field }}</p>
                {% endfor %}
                {{ form.csrf_token }}
                <p><input class="btn btn-primary" type="submit" value="Import accounts 🚛"></p>
            </form>
        </div>
        <div>
            <a href="{{url_for('user.home')}}" class="btn btn-primary btn-lg active btn-dark" role="button" aria-pressed="true">Nope... </a>
        </div>
    </div>
{% endblock %}

