{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1 class="mt-5">Add data</h1>
    <p>Only for demo use.</p>
    <br/>
    <form id="demoForm" class="form" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.beneficiary.label}}
                {{form.beneficiary(placeholder="Alepa Otaniemi", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.amount.label}}
                {{form.amount(placeholder="5.00", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

