
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        
        {%if uncategorized_transactions %}
            <h4> You {{uncategorized_transactions|length}} uncategorized transactions 💸 </h4>
            <a href="{{url_for('dashboard.rate_randon_unrated')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true"> TAKE ME ON A RIDE 🎢 </a>
        {% else %}
            <h4> All you transationsa are categorized 👍 </h4>
        {% endif %}
        
    </div>
{% endblock %}

