{% extends "layout.html" %}
{% block content %}
    <div class="container" role="main">
        <div class="jumbotron">
            <h1>Welcome to Fyrkat</h1>
            <h6>Read both "Fire cat" and Fuhrkat (meaning cash in Helsinki slang)</h6>
            <br>
            <h2>
                Fyrkat is not a traditional budgetting app. 
            </h2>  
            <h6>
                Instead of promtping you to save, we want to you to spend money where your ❤️ is, not on things you regret
            </h6> 
        </div>

        <div class="starter-template">
            <h1>Let's start by creating an account for you...</h1>
            <a href="{{url_for('ledger.create_account')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">LETS GO! 👉 </a>
        </div>
    </div>

{% endblock %}

