/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: "Helvetica", sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

.jumbotron {
  background-color: white;
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 40px;
}

.home-container .col-lg-4 {
  text-align: center;
}
/* =============================================================================
   Font stylings
   ========================================================================== */


   h2 {
     font-weight: bold;
     font-size: 20px;
   }

/* =============================================================================
   Ratings stylings
   ========================================================================== */

/* https://stackoverflow.com/a/16243220 */

.rating {
  background-color: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
  border-radius: 8px;
  margin: 40px auto 4px auto;
}

.rating .date {
  color: #999999;
}

.rating > .row{
  padding: 8px;
}

.rating .beneficiary {
  text-align: center;
}

.rating .amount{
  font-weight: bold;
  text-align: right;
  margin-bottom: 20px;
}

.rating-btn {
  border-top: 11px solid;
  margin:5px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  font-weight: bold;
  padding-top: 4px;
  text-align: center;
}

.rating-btn label:before{
  font-size: 11px;
  display: block;
  font-family: "Font Awesome 5 Free"; font-weight: 900;
}

.rating-1 {
  border-top-color: #E3E3E3;
}

.rating-1 label:before {
  content: "\f0ad";
}

.rating-2 {
  /* Bad */
  border-top-color: #FFD5CB;
}

.rating-2 label:before {
  content: "\f11a";
}

.rating-3 {
  border-top-color: #FFFBBD;
}

.rating-3 label:before{
  content: "\f118";
}

.rating-4 {
  border-top-color: #D7FFC8;
}

.rating-4 label:before{
  content: "\f004";
}


input[type="radio"]{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.rating-btn label:hover {
  opacity: 0.4;
  cursor: pointer;
}

input[type="radio"].toggle:checked + label {
  opacity: 0.1;
  background-color: red;
  /* Do something special with the selected state */
}

.submit-btn {
  margin: 0 auto;
  display: block;
  width: 100%;
  margin: 20px auto 0 auto;
  max-width: 200px;
  width: 40%;
}

.exit-link {
  float: right;
  margin-top:10px;
  font-size: 13px;
}



/* =============================================================================
   Insights chart
   ========================================================================== */

.insights-chart {
  width: 100%;
  font-size: 0;
}

.insights-chart .bar {
  display: inline-block;
  background-color: black;
  height: 30px;
  margin: 0;
  padding: 0;
  position:relative;
}

.insights-chart .bar:before {
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  font-size: 11px;

  position: absolute;
  width: 10px;
  top: 6px;
  left: 50%;
  margin-left: -5px;

}

.insights-chart .utility {
  background-color: #E3E3E3;
}

.insights-chart .hidden-icon:before {
  display: none;
}

.insights-chart .utility:before {
  content: "\f0ad";
}

.insights-chart .meh:before {
  content: "\f11a";
}

.insights-chart .ok:before {
  content: "\f118";
}

.insights-chart .great:before {
  content: "\f004";
}

.insights-chart .meh {
  background-color: #FFD5CB;
}

.insights-chart .ok {
  background-color: #FFFBBD;
}

.insights-chart .great {
  background-color: #D7FFC8;
}

.imgCont {
  max-width: 100%;
}

.imgCont img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.bg-light {
  background-color: white !important;
}

.logoCont {
  width: 350px;
  margin: 0 auto;
}


.logoCont img {
  width: 100%;
}

.slogan {
  font-style: italic;
  color: grey;
}

.navbar-brand .imgCont {
  width: 100px;
}

.mockCont {
  max-width: 100%;
}

.mockCont img {
  width: 100%;
}