
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">Junction 2019 submission by team Alakantti</a>.</p>
    </div>
</div>
{% endblock %}

