
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <div class="logoCont"><img src="{{static_url_for('static', filename='build/img/FLOGO.png') }}"/></div>

      <p class="slogan">Do what you love, love what you buy.</p>

    </div>
</div><!-- /.jumbotron -->

<div class="container home-container">
  <div class="row">
    <div class="col-lg-4">
      <div class="imgCont"><img src="{{static_url_for('static', filename='build/img/PROMO3.png') }}"/></div>
      <h2>Simple guidelines for better spending</h2>
      <p>Get recommendations based on what you've enjoyed previously.</p>
    </div>
    <div class="col-lg-4">
        <div class="imgCont"><img src="{{static_url_for('static', filename='build/img/PROMO1.png') }}"/></div>
      <h2>Learnable categorization</h2>
      <p>When you categorize things, Fyrkat learns how - and remembers that so you don't need to.</p>
   </div>
    <div class="col-lg-4">
        <div class="imgCont"><img src="{{static_url_for('static', filename='build/img/PROMO2.png') }}"/></div>
      <h2>Easy visualizations</h2>
      <p>Straightforward visualizations for an overview of your budget.</p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

